<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#练习一" data-toc-modified-id="练习一-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>练习一</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#问题1：使用datetime.date命令生成：2020-08-31，并打印出年、月、日" data-toc-modified-id="问题1：使用datetime.date命令生成：2020-08-31，并打印出年、月、日-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>问题1：使用datetime.date命令生成：2020-08-31，并打印出年、月、日</a></span></li><li><span><a href="#问题2：使用datetime.time命令生成：13:14:15，并打印出时、分、秒" data-toc-modified-id="问题2：使用datetime.time命令生成：13:14:15，并打印出时、分、秒-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>问题2：使用datetime.time命令生成：13:14:15，并打印出时、分、秒</a></span></li><li><span><a href="#问题3：获取当前时间，并打印出年，月，日，时，分，秒" data-toc-modified-id="问题3：获取当前时间，并打印出年，月，日，时，分，秒-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>问题3：获取当前时间，并打印出年，月，日，时，分，秒</a></span></li><li><span><a href="#问题4：获取当前时间，并将datetime类型转换为字符串类型" data-toc-modified-id="问题4：获取当前时间，并将datetime类型转换为字符串类型-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>问题4：获取当前时间，并将datetime类型转换为字符串类型</a></span></li><li><span><a href="#问题5：-将'Aug-31-2020-13:40'转换为datetime类型" data-toc-modified-id="问题5：-将'Aug-31-2020-13:40'转换为datetime类型-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>问题5： 将'Aug-31-2020 13:40'转换为datetime类型</a></span></li></ul></li></ul></li><li><span><a href="#练习二：" data-toc-modified-id="练习二：-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>练习二：</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#定义如下df" data-toc-modified-id="定义如下df-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>定义如下df</a></span></li><li><span><a href="#问题1：取出2020年8月份的数据" data-toc-modified-id="问题1：取出2020年8月份的数据-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>问题1：取出2020年8月份的数据</a></span></li><li><span><a href="#问题2：取出2020年3月到8月的数据" data-toc-modified-id="问题2：取出2020年3月到8月的数据-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>问题2：取出2020年3月到8月的数据</a></span></li><li><span><a href="#问题3：-将'2020年8月31日'转换为时间戳类型，再将结果转换为datetime类型" data-toc-modified-id="问题3：-将'2020年8月31日'转换为时间戳类型，再将结果转换为datetime类型-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>问题3： 将'2020年8月31日'转换为时间戳类型，再将结果转换为datetime类型</a></span></li></ul></li></ul></li></ul></div>

# 练习一

### 问题1：使用datetime.date命令生成：2020-08-31，并打印出年、月、日

In [1]:
import datetime

In [3]:
date = datetime.date(2020,8,31)

In [4]:
print(date.year)

2020

In [5]:
print(date.month)

8

In [6]:
print(date.day)

31

### 问题2：使用datetime.time命令生成：13:14:15，并打印出时、分、秒

In [7]:
time = datetime.time(13,14,15)

In [8]:
print(time.hour)

13

In [9]:
print(time.minute)

14

In [10]:
print(time.second)

15

### 问题3：获取当前时间，并打印出年，月，日，时，分，秒

In [17]:
import numpy as np
datetime_now = datetime.datetime.now()
datetime_now

datetime.datetime(2022, 9, 30, 14, 33, 32, 482179)

In [18]:
print(datetime_now.year)
print(datetime_now.month)
print(datetime_now.day)
print(datetime_now.hour)
print(datetime_now.minute)
print(datetime_now.second)

2022
9
30
14
33
32

### 问题4：获取当前时间，并将datetime类型转换为字符串类型

In [19]:
datetime_now1 = datetime.datetime.now()
datetime_now1

datetime.datetime(2022, 9, 30, 14, 35, 14, 66950)

In [23]:
str_date_time = str(datetime_now1)
print(str_date_time)
print(type(str_date_time))

2022-09-30 14:35:14.066950
<class 'str'>

### 问题5： 将'Aug-31-2020 13:40'转换为datetime类型

In [27]:
strp = datetime.datetime.strptime('Aug-23-19 20:13','%b-%d-%y %H:%M')
print(strp)
print(type(strp))

2019-08-23 20:13:00
<class 'datetime.datetime'>

# 练习二：

### 定义如下df

In [28]:
import pandas as pd
import numpy as np
data = np.random.randint(100,size=365)
index = pd.date_range(start='20200101',periods=365)
df = pd.DataFrame(data=data,index=index)
df

             0
2020-01-01  82
2020-01-02  75
2020-01-03   9
2020-01-04  44
2020-01-05  47
...         ..
2020-12-26  55
2020-12-27  44
2020-12-28  61
2020-12-29  17
2020-12-30  22

[365 rows x 1 columns]

### 问题1：取出2020年8月份的数据

In [32]:
df['2020-08']

/tmp/ipykernel_114217/2766392052.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2020-08']

             0
2020-08-01  39
2020-08-02  87
2020-08-03  50
2020-08-04  67
2020-08-05  47
2020-08-06  45
2020-08-07  76
2020-08-08  14
2020-08-09   7
2020-08-10  51
2020-08-11  83
2020-08-12   3
2020-08-13  51
2020-08-14  12
2020-08-15  42
2020-08-16  79
2020-08-17   6
2020-08-18  17
2020-08-19  85
2020-08-20  75
2020-08-21  61
2020-08-22  93
2020-08-23   3
2020-08-24  33
2020-08-25  64
2020-08-26  83
2020-08-27  53
2020-08-28  32
2020-08-29  96
2020-08-30  67
2020-08-31   6

### 问题2：取出2020年3月到8月的数据

In [33]:
df['2020-03':'2020-08']

             0
2020-03-01  54
2020-03-02  24
2020-03-03  46
2020-03-04  76
2020-03-05  45
...         ..
2020-08-27  53
2020-08-28  32
2020-08-29  96
2020-08-30  67
2020-08-31   6

[184 rows x 1 columns]

### 问题3： 将'2020年8月31日'转换为时间戳类型，再将结果转换为datetime类型

In [35]:
datetime_st = pd.to_datetime('2020-08-31')
datetime_st

Timestamp('2020-08-31 00:00:00')

In [38]:
# datetime1 = pd.to_pydatetime(datetime_st)
datetime1 = datetime_st.to_pydatetime()
datetime1

datetime.datetime(2020, 8, 31, 0, 0)