<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#数据的合并" data-toc-modified-id="数据的合并-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>数据的合并</a></span><ul class="toc-item"><li><span><a href="#1.导入数据分析需要的模块" data-toc-modified-id="1.导入数据分析需要的模块-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>1.导入数据分析需要的模块</a></span></li><li><span><a href="#2.构建DataFrame" data-toc-modified-id="2.构建DataFrame-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>2.构建DataFrame</a></span></li><li><span><a href="#3.纵向连接三个dataframe" data-toc-modified-id="3.纵向连接三个dataframe-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>3.纵向连接三个dataframe</a></span></li><li><span><a href="#4.横向拼接2个张表" data-toc-modified-id="4.横向拼接2个张表-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>4.横向拼接2个张表</a></span></li><li><span><a href="#5.使用merge合并df4,df5,相同的列名,赋值给result2" data-toc-modified-id="5.使用merge合并df4,df5,相同的列名,赋值给result2-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>5.使用merge合并df4,df5,相同的列名,赋值给result2</a></span></li><li><span><a href="#6.筛选result2中的A列的大于1的数据" data-toc-modified-id="6.筛选result2中的A列的大于1的数据-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>6.筛选result2中的A列的大于1的数据</a></span></li></ul></li></ul></div>

#                                       数据的合并

## 1.导入数据分析需要的模块

In [1]:
import pandas as pd
import numpy as np

## 2.构建DataFrame

根据提供的数据,构建3个dataframe , df1, df2, df3  
  
df1   
{'A': ['A0', 'A1', 'A2', 'A3'], 'B': ['B0', 'B1', 'B2', 'B3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}, index=[0, 1, 2, 3]  
df2  
{'A': ['A4', 'A5', 'A6', 'A7'], 'B': ['B4', 'B5', 'B6', 'B7'], 'C': ['C4', 'C5', 'C6', 'C7'], 'D': ['D4', 'D5', 'D6', 'D7']}, index=[4, 5, 6, 7]  
df3  
{'A': ['A8', 'A9', 'A10', 'A11'], 'B': ['B8', 'B9', 'B10', 'B11'], 'C': ['C8', 'C9', 'C10', 'C11'], 'D': ['D8', 'D9', 'D10', 'D11']}, index=[8, 9, 10, 11]

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'], 
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

In [3]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']}, 
                   index=[4, 5, 6, 7])

In [6]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'], 
                    'B': ['B8', 'B9', 'B10', 'B11'], 
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

## 3.纵向连接三个dataframe

In [10]:
dfn = pd.concat([df1,df2,df3],axis=0,join="outer")
print(dfn)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## 4.横向拼接2个张表

df4  
{'A': [1,2,3,4], 'B': ['B0', 'B1', 'B2', 'B3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}, index=[0, 1, 2, 3]

df5  
{'e': ['A0', 'A1', 'A2', 'A3'], 'f': ['B0', 'B1', 'B2', 'B3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}, index=[2, 3, 4, 5]

根据以上数据创建df4,df5两张表

In [28]:
df4 = pd.DataFrame({'A': [1, 2, 3, 4], 
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

In [29]:
df5 = pd.DataFrame({'e': ['A0', 'A1', 'A2', 'A3'],
                    'f': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']}, 
                   index=[2, 3, 4, 5])

In [30]:
print(df4)

   A   B   C   D
0  1  B0  C0  D0
1  2  B1  C1  D1
2  3  B2  C2  D2
3  4  B3  C3  D3

In [31]:
print(df5)

    e   f   C   D
2  A0  B0  C0  D0
3  A1  B1  C1  D1
4  A2  B2  C2  D2
5  A3  B3  C3  D3

In [32]:
result1 = pd.concat([df4,df5],axis=1)
print(result1)

     A    B    C    D    e    f    C    D
0  1.0   B0   C0   D0  NaN  NaN  NaN  NaN
1  2.0   B1   C1   D1  NaN  NaN  NaN  NaN
2  3.0   B2   C2   D2   A0   B0   C0   D0
3  4.0   B3   C3   D3   A1   B1   C1   D1
4  NaN  NaN  NaN  NaN   A2   B2   C2   D2
5  NaN  NaN  NaN  NaN   A3   B3   C3   D3

## 5.使用merge合并df4,df5,相同的列名,赋值给result2

In [33]:
result2 = pd.merge(df4,df5)
print(result2)

   A   B   C   D   e   f
0  1  B0  C0  D0  A0  B0
1  2  B1  C1  D1  A1  B1
2  3  B2  C2  D2  A2  B2
3  4  B3  C3  D3  A3  B3

## 6.筛选result2中的A列的大于1的数据

In [34]:
result2[result2['A']>1]

   A   B   C   D   e   f
1  2  B1  C1  D1  A1  B1
2  3  B2  C2  D2  A2  B2
3  4  B3  C3  D3  A3  B3