## 1. 读取数据文件并查看数据信息
    - name：国家的名称
    - iso_a3：三个字符 ISO 3166-1 国家代码
    - currency_code：三个字符 ISO 4217 货币代码
    - local_price：巨无霸本地货币的售价
    - dollar_ex：本地货币相对于 1 美元的汇率
    - GDP_dollar：人均 GDP，单位为美元
    - date：观测和采集数据的时间

In [1]:
import pandas as pd

In [4]:
# 导入csv 文件
df = pd.read_csv('./big-mac-source-data(1).csv')

In [5]:
# 查看csv 文件前面几行数据，了解表格的数据
df.head()

,name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,date
0,Argentina,ARG,ARS,NaN,1.000000,NaN,2000/4/1
1,Australia,AUS,AUD,NaN,1.680000,NaN,2000/4/1
2,Brazil,BRA,BRL,NaN,1.790000,NaN,2000/4/1
3,Britain,GBR,GBP,NaN,0.632911,NaN,2000/4/1
4,Canada,CAN,CAD,2.85,1.470000,NaN,2000/4/1

## 2.我们发现 GDP_dollar(美元)有大量的缺失值,我们可以直接将这一列数据删除掉

In [10]:
# 删除 列
df1 = df.drop(axis=1,index=None,columns='GDP_dollar')

In [11]:
df1.head()

        name iso_a3 currency_code  local_price  dollar_ex      date
0  Argentina    ARG           ARS          NaN   1.000000  2000/4/1
1  Australia    AUS           AUD          NaN   1.680000  2000/4/1
2     Brazil    BRA           BRL          NaN   1.790000  2000/4/1
3    Britain    GBR           GBP          NaN   0.632911  2000/4/1
4     Canada    CAN           CAD         2.85   1.470000  2000/4/1

# 3.对于其他列的少量缺失值,我们可以删除这一行

#### df1.drop(labels=[1,2,3],axis=0)

In [29]:
# 删除 缺失值，这个是在表格中观察看到哪里是空值，用表格的形式把行号写出来，赋值给labels
df2 = df1.drop(labels = [0,1,2,3,],axis=0)

## 4.我们在对数据操作之前需要先查看数据是否有重复

In [30]:
print(df2.duplicated())

4       False
5       False
6       False
7       False
8       False
        ...
1710     True
1711     True
1712     True
1713     True
1714     True
Length: 1711, dtype: bool

## 5.对与重复的数据我们把重复数据删除掉

In [32]:
df3 = df2.drop_duplicates()

In [33]:
print(df3)

                name iso_a3 currency_code  local_price  dollar_ex       date
4             Canada    CAN           CAD         2.85      1.470   2000/4/1
5              Chile    CHL           CLP      1260.00    514.000   2000/4/1
6              China    CHN           CNY         9.90      8.280   2000/4/1
7     Czech Republic    CZE           CZK        54.37     39.100   2000/4/1
8            Denmark    DNK           DKK        24.75      8.040   2000/4/1
...              ...    ...           ...          ...        ...        ...
1581         Ukraine    UKR           UAH        57.00     23.990  2020/1/14
1582         Uruguay    URY           UYU       179.00     37.435  2020/1/14
1583   United States    USA           USD         5.67      1.000  2020/1/14
1584         Vietnam    VNM           VND     66000.00  23176.000  2020/1/14
1585    South Africa    ZAF           ZAR        31.00     14.391  2020/1/14

[1582 rows x 6 columns]

## 6.最后我们把处理好的数据保存成为新的csv

In [35]:
df3.to_csv('new_csv.csv')