# 一、多行索引平均成绩查询

## 导入所需要的库，可以在写代码时回过来再写

In [1]:
import pandas as pd
import numpy as np
import datetime

## 创建两个索引
- 1.创建key1列表其中数据为'张三'、'李四'、'王五'
- 2.创建key2列表其中数据为'期中'、'期末'

In [2]:
key1 = ['张三','李四','王五']
key2 = ['期中','期末']

## 创建DataFrame索引
- 1.用key1、key2创建多行索引key
- 2.创建列索引columns,数据为'java'、'web'、'linux'

In [5]:
key = pd.MultiIndex.from_product([key1,key2])
columns = ['java','web','linux']

## 创建DataFrame
- 1.DataFrame的行列索引分别为key和columns
- 2.数据用numpy随机数生成(注意生成数据形状)

In [8]:
data = np.random.randint(0,100,size=(6,3))
df = pd.DataFrame(data=data,index=key,columns=columns)
df

       java  web  linux
张三 期中     9   61     88
   期末    71   19     30
李四 期中    39   66     46
   期末    13   31     74
王五 期中    24   77     32
   期末    86   36     19

## 用三种方法取出李四的期中成绩

In [10]:
# 方法一
df.iloc[2]

java     39
web      66
linux    46
Name: (李四, 期中), dtype: int32

In [11]:
# 方法二
df.loc['李四','期中']

java     39
web      66
linux    46
Name: (李四, 期中), dtype: int32

In [12]:
# 方法三
df.loc['李四'].loc['期中']

java     39
web      66
linux    46
Name: 期中, dtype: int32

# 二、求分组后的最多分数个数

## 查看一中生成的DataFrame

In [19]:
print(df)
print(df.info())
print(df.describe())

       java  web  linux
张三 期中     9   61     88
   期末    71   19     30
李四 期中    39   66     46
   期末    13   31     74
王五 期中    24   77     32
   期末    86   36     19
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6 entries, ('张三', '期中') to ('王五', '期末')
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   java    6 non-null      int32
 1   web     6 non-null      int32
 2   linux   6 non-null      int32
dtypes: int32(3)
memory usage: 544.0+ bytes
None
            java        web      linux
count   6.000000   6.000000   6.000000
mean   40.333333  48.333333  48.166667
std    31.696477  22.835645  27.206004
min     9.000000  19.000000  19.000000
25%    15.750000  32.250000  30.500000
50%    31.500000  48.500000  39.000000
75%    63.000000  64.750000  67.000000
max    86.000000  77.000000  88.000000

### 将一中所创建的DataFrame按java分组

In [35]:
df_group = df.groupby('java')

### 将分组后的数据从大到小排序

In [39]:
# df_group.sort_(level=0,ascending=True)
g_size = df_group.size()
nost_p = sorted(g_size,reverse=True)
nost_p

[1, 1, 1, 1, 1, 1]

### 取排序后的第一个值，该值就是所有相同分数当中个数最多的值

In [42]:
# df_group.iloc[0,0]
nost_p[0]

1